<link href="/app/admin/create-category/create-category.css" rel="stylesheet" type="text/css">
<div>
    <div class="modal-header">
        <h3>Add new category</h3>
    </div>

    <div class="modal-body">
        <div id="container">
            <form>
                <p>
                    <label for="name">Category name</label><br/>
                    <input id="name" ng-model="category.name" required>
                </p>
            </form>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="submit()">Add</button>
    </div>
</div>