<link href="/app/admin/create-product/create-product.css" rel="stylesheet" type="text/css">
<div>
    <div class="modal-header">
        <h3>Add new product</h3>
    </div>

    <div class="modal-body">
        <div id="container">
            <form>
                <p>
                    <label for="name">Product name</label><br/>
                    <input id="name" ng-model="product.name" required>
                </p>
                <p>
                    <label for="price">Product price</label><br/>
                    <input id="price" ng-model="product.price" required>
                </p>
                <p>
                    <label for="unit">Unit</label><br/>
                    <input id="unit" ng-model="product.unit" required>
                </p>
                <p>
                    <label for="category">Category</label><br/>
                    <select id="category" ng-model="product.category"
                            ng-options="category.name for category in categories" required>
                        <option></option> <!--initial empty option-->
                    </select>
                </p>
            </form>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="createProduct()">Add</button>
    </div>
</div>