<link href="/app/admin/admin.css" rel="stylesheet" type="text/css">
<div class="container">
        <div class="inner" id="menu">
            <p>
                <a href ng-click="openCreateCategoryModal()">Add new category</a>
            </p>
            <p>
                <a href ng-click="openCreateProductModal()">Add new product</a>
            </p>
        </div>

        <div id="categoriesContainer">
            <h1>All products</h1>
            <span>(click name to edit)</span>
            <div ng-repeat="category in categories">
                <a href ng-click="openEditCategoryModal(category)"><h3>{{category.name}}</h3></a>
                <ul ng-repeat="product in category.products">
                    <li><a href ng-click="openEditProductModal(product)">{{product.name}} {{product.price}} Ft/{{product.unit}}</a></li>
                </ul>
            </div>
        </div>
</div>
