<link href="/app/register/register.css" rel="stylesheet" type="text/css">
<div class="container register" ng-controller="RegisterController">
    <h1>Register</h1><br/><br/>
    <form ng-submit="submitForm()">
        <table>
            <tr>
                <td class="inputLabelCell"><label for="userName">Username</label></td>
            <tr>
                <td><input id="userName" ng-model="user.userName" required><br/></td>
            </tr>
            <tr>
                <td class="inputLabelCell"><label for="password">Password</label></td>
            <tr>
                <td><input id="password" ng-model="user.password" type="password" required><br/></td>
            </tr>
            <tr>
                <td>
                    <br/>
                    <button name="login" id="login" type="submit">Register</button>
                </td>
            </tr>
        </table>
    </form>
</div>