h1 {
    padding-bottom: 10px;
}

.container {
    text-align: center;
}

#left {
    float: left;
    padding-right: 20px;
    text-align: left;
}

#right {
    float: right;
    padding-left: 20px;
    text-align: left;
}

#submit {
    margin: 20px auto auto;
}

form {
    display: inline-block;
}

input, textarea {
    width: 200px;

    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

select {
    width: 120px;

    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.ng-pristine .ng-invalid-required {
    box-shadow: none;
}
