<link href="/app/home/home.css" rel="stylesheet" type="text/css">
<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div id="cart">
                <p class="lead">Cart</p>
                <ul>
                    <li ng-repeat="(key, value) in cart">{{value.name + ' ' + value.quantity + value.unit}}</li>
                </ul>
                <button id="buyButton" type="button" class="btn btn-primary" ng-click="buy()">Buy</button>
            </div>
            <div class="list-group">
                <a href ng-click="selectCategory(category)" class="list-group-item" ng-repeat="category in categories">{{category.name}}</a>
            </div>
        </div>


        <div class="col-md-9">
            <div class="row carousel-holder">
                <h1>{{selectedCategory.name}}</h1>
                <div class="col-md-12">
                    <a href ng-click="openAddToCartModal(product)" ng-repeat-start="product in selectedCategory.products">{{product.name}} {{product.price}}Ft/{{product.unit}}</a><br ng-repeat-end />
                </div>
            </div>
        </div>
    </div>
</div>